.tag {
  text-align: center;
  border-radius: 0.25rem;
  font-weight: 700;
  
  &--small {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
  
  &--large {
    width: 100%;
    max-width: 8rem;
    padding: 0.5rem;
  }

  &--beginner,
  &--green {
    color: #3D8C40;
    background-color: #DBEFDC;
  }

  &--intermediate,
  &--yellow {
    color: #B38705;
    background-color: #FFF3CD;
  }

  &--advanced,
  &--red {
    color: #C42D2D;
    background-color: #F8D6D6;
  }
  
  &--blue {
    color: #1D1D1B;
    background-color: #d4d9fd;
  }
}