.image-upload {
  &__form {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 2rem;
  }

  &__image {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 24rem;
    border-radius: 1rem;
    border: 1px solid #B7B7B7;
  }

  &__image-placeholder {
    display: block;
    width: 24rem;
    aspect-ratio: 1/1;
    border-radius: 0.25rem;
    border: 1px solid #B7B7B7;
    background: #f0f0f0;
  }

  &__optional {
    color: #2A3FF4;
  }

  &__input {
    display: none;
  }
}
