.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  .active {
    color: #FFFFFF;
    background-color: #2A3FF4;
  }

  .disabled {
    opacity: 0.40;
    cursor: unset;
  }

  &__ellipsis {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
  }
}