.grid {
  display: grid;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}