.exercise-list {
  display: grid;
  gap: 2.25rem !important;

  &__section {
    display: grid;
    gap: 0.75rem;
  }

  &__section-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__duration {
    font-weight: 700;
  }

  &__exercises {
    display: grid;
    gap: 1rem;
  }
}