.check-box-group {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.10rem !important;
    letter-spacing: 0.00625rem;
    color: #1D1D1B;
  }
}