.create-new-password {
  display: grid;
  grid-template: 1fr / 1fr 1.5fr;
  padding: 8rem;
  gap: 8rem;
  min-height: 100vh;
  background-color: #FFFFFF;

  @include breakpoint(large) {
    grid-template: 1fr / 1fr 1fr;
    padding: 8rem 4rem;
    gap: 4rem;
  }

  @include breakpoint(medium) {
    grid-template: 1.25fr 1fr / 1fr;
    padding: 6rem 4rem;
  }

  @include breakpoint(small) {
    padding: 3rem 4rem;
  }

  @include breakpoint(x-small) {
    padding: 3rem 1.5rem;
  }

  &__left {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 4rem;

    @include breakpoint(medium) {
      gap: 6rem;
    }

    @include breakpoint(small) {
      gap: 4rem;
    }
  }

  &__main-content {
    display: grid;
    align-self: center;
    gap: 3rem;

    @include breakpoint(medium) {
      justify-self: center;
      width: 75%;
    }

    @include breakpoint(small) {
      width: 100%;
    }
  }

  &__link {
    color: #2A3FF4;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: #192692;
    }
  }

  &__logo {
    width: 16rem;

    @include breakpoint(medium) {
      justify-self: center;
    }

    @include breakpoint(small) {
      width: 10rem;
    }

    @include breakpoint(small) {
      width: 8rem;
    }
  }

  &__form {
    display: grid;
    gap: 2.75rem;
  }
  
  &__two-input-row {
    display: flex;
    gap: 2rem;
    
    & > div {
      width: 100%;
    }
  }

  &__image-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 100%), url('/images/forgot-password.jpg') center / cover no-repeat;
    border-radius: 0.5rem;
    padding: 2rem;

    & svg {
      color: #FFFFFF;
      height: 5rem;
      width: 5rem;
    }

    @include breakpoint(medium) {
      display: none;
    }
  }

  &__motivational-quote {
    color: #FFFFFF;
    font-size: 6rem;

    @include breakpoint(large) {
      font-size: 4rem;
    }
  }
}