.create-workout-routine {
  &__more-info {
    display: grid;
    gap: 1rem;
    
    & > div {
      display: grid;
      gap: 3rem;
    }
  }

  &__equipment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 2rem;
    list-style: disc inside;
  }
}