.sidebar {
  display: flex;
  padding: 2rem 1rem;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  height: calc(100vh - 2.5rem * 2);
  min-width: 20rem;
  position: sticky;
  top: 2.5rem;

  &__navigation {
    display: grid;
    grid-template-rows: 1fr max-content;
    width: 100%;
  }

  &__main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
  }

  &__main-nav > svg {
    width: 7rem;
  }
}