.home-title {
  display: grid;
  gap: 1.5rem;
  
  &__user-name {
    color: #2A3FF4;
  }

  &__date-message {
    font-weight: 500;
  }

  &__date {
    text-decoration: underline;
  }

  &__options {
    display: flex;
    gap: 1rem;
    
    @include breakpoint(medium) {
      display: none;
    }
  }
}



