.item-search-list {
  display: grid;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(small) {
    grid-template-columns: 1fr;
  }

  &__header {
    display: grid;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #DBDBDB;
    gap: 1rem;

    @include breakpoint(medium) {
      display: none;
    }

    & p {
      font-size: 1.35rem;
      font-family: 'Bebas Neue', sans-serif;
    }
  }
}