.item-search {
  &__search-bar {
    display: grid;
    grid-template-columns: 0.5fr max-content;
    justify-content: space-between;
    gap: 1rem;

    @include breakpoint(medium) {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }
}


