.section {
  display: grid;
  gap: 1rem;

  @include breakpoint(medium) {
    display: grid;
    gap: 1.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      display: grid;
      justify-content: flex-start;
      gap: 0.25rem;
    }
  }

  &__tip {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5565F6;
    background-color: #CED3F7;
    border: 1px solid #5565F6;
    border-radius: 0.125rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1rem;

    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }

    & > div:not(.card) {
      display: grid;
      align-content: flex-start;
      gap: 1rem;
    }
  }
}